
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 2rem;
    border-radius: 0.2rem;
    background-color: #479EFF;
    color: #fff;
    font-weight: 600;
    margin: 0 0 0 1rem;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .button {
        margin: 1rem 0 0 1rem;
    }
}