.App {
  text-align: center;
}

.action_group {
  display: flex;
  align-items: center;
  padding: 1rem;
}

::-webkit-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar !important;
  -webkit-appearance: none !important;
  width: 0 !important;
  height: 0 !important;
}

.app_dropdown_wrapper {
  padding: 0 1rem;
  width: 300px;
}

@media screen and (max-width: 700px) {
  .action_group {
    flex-direction: column;
    align-items: flex-start;
  }
  .app_dropdown_wrapper {
    width: 100% !important;
    margin-bottom: 1rem;
  }
}